version: '3.7'

services:
  frontend:
    build:
      context: ./services/frontend
      dockerfile: Dockerfile
    command: npm start
    stdin_open: true
    ports:
      - 3001:3000
    volumes:
      - '.:/app'
      - '.:/app/node_modules'
    environment:
      - CHOKIDAR_USEPOLLING=true

  postgres:
    build:
      context: ./services/db
      dockerfile: Dockerfile
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres